<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <!-- [(ngModel)]="searchText" -->
            <form [formGroup]="searchBarBooking" (ngSubmit)="submitSearchResult()">
              <input type="number" id="myInput" placeholder="Enter Nic.." title="Type in a Nic"  autocomplete="off" formControlName="searchInput">
             <button type="submit" id="myInputButton" class="btn-primary">Search</button>
            </form>

            <table class="table table-light" id="myTable">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Customer Nic</th>
                        <th scope="col">Customer Mobile</th>
                        <th scope="col">Booked Car</th>
                        <th scope="col">Driver</th>
                        <th scope="col">Check In Date</th>
                        <th scope="col">Check Out Date</th>
                        <!-- <th scope="col">Actions</th> -->

                    </tr>
                </thead>
                <tbody>
                    <!-- | filter:searchText -->
                    <tr *ngFor="let item of collection">
                        <th scope="row">{{item.id}}</th>
                        <td>{{item.customer.firstName}} {{item.customer.lastName}}</td>
                        <td>{{item.customer.nicNumber}}</td>
                        <td>{{item.customer.mobileNumber}}</td>
                        <td>{{item.car.name}}</td>
                        <td>{{item.driver.name}}</td>
                        <td>{{item.checkInDate}}</td>
                        <td>{{item.checkOutDate}}</td>
                        <!-- <td>
                            <i (click)="deleteCar(item.id)" class="fa fa-trash"
                                style="font-size:20px;color:red;"></i>
                        </td> -->
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>